<div class="logo">
    <img src="/images/bone.svg" alt="dog bone image" width="75px" height="75px"/>
    <a href="/index.html"> Canine<span class="highlight">Corner</span></a>
</div>
<div class="saved">
    <a href="/navpages/favorites.html">
        <img src="/images/heart.webp" alt="paw print icon" width="60px" height="60px"/>
        <span>Favorites</span>
    </a>
</div>
<nav class="navlinks">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/navpages/breeds.html">Breeds</a></li>
        <li><a href="/navpages/favorites.html">Favorites</a></li>
    </ul>
</nav> 